header {
  background: orange;
  height: 56px;
  display: block; }

main {
  position: relative;
  height: 600px; }
  main .box-main {
    width: 80%;
    height: 100%;
    float: left;
    background: red; }
  main .sidebar-right {
    width: 20%;
    height: 100%;
    float: left;
    background: blue; }

footer {
  display: block;
  clear: both;
  height: 200px;
  background: #ccc; }

.popup {
  background: red;
  height: 100px; }

.form {
  background: pink;
  height: 100px; }
